<div class="container flex flex-col gap-5 justify-center h-screen items-center text-center">
    <h1 class="text-5xl">Cathan's CodeQuest </h1>
    <h2 class="text-2xl">Insights, Tutorials, Rails Projects</h2>
    <%= link_to("Read more", "posts#index", class:"btn text-lg")%>
</div>
